/* Common Elements */

body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: sans-serif;
}

h1 {
    color: red;
    font-size: 3.5em;
    margin-top: .5em;
}

h3 {
    margin: 0;
    color: white;
}


ul {
    padding: 0;
}

li {
    color: white;
    margin: .5em 0
}

a{
    color: white;
    text-decoration: none;
}

.product-prices {
    margin: 1em 0 0 0;
    font-size: 1.5em;
}

/* Header */

header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    width: 100%;
}

/* Nav Bars */

nav ul {
    margin: 0 .5em 0 .5em;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav li a {
    color: white;
    text-decoration: none;
    margin: 0 1.5em 0 0;
}

nav li a:hover {
    text-decoration: underline;
}

#navMenu {
    font-size: 1em;
    color: white;
    padding-right: -2em;
    float: left;
    color: white;
    margin: 2.5em 0;
}

#socialIcons {
    float: right;
}


/* Main Section */

.container {
    padding: 300px 40% 300px 25%;
    background-color: darkgray;
}

.container p {
    color: white;
    line-height: 1.7em;
}

.container ul {
    display: inline-block;
    margin: 0 45px 0 1.5em;
}

.container li {
    list-style-image: url(./assets/NavIcons/redArrow.png);
    
}

#custom-keyboards-description {
    background-image: linear-gradient(to bottom, rgba(84, 84, 84, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%), url(./assets/SectionBackgrounds/redZechKeyboard);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

div li {
    line-height: 2em;
}

div button {
    color: white;
    background-color: red;
    height: 3em;
    width: 10em;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 2em;
}

div button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

#description-cables {
    background-image: linear-gradient(to bottom, rgba(84, 84, 84, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%), url(./assets/SectionBackgrounds/bluePinkOrbitCables);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#description-keycaps {
    background-image: linear-gradient(to bottom, rgba(84, 84, 84, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%), url(./assets/SectionBackgrounds/skullKeyCap);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#description-mats {
    background-image: linear-gradient(to bottom, rgba(84, 84, 84, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%), url(./assets/SectionBackgrounds/glitchyDeskMat);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.products {
    display: flex;
    justify-content: center;
    margin: 200px 100px;
}

.panel {
    margin: 0 1em;
    background-color: whitesmoke;
    border: solid 2px black;
    border-radius: 25px;
    padding: 2em 4em;
    text-align: center;
    color: black;
}

.panel img:hover {
    cursor: pointer;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}

h5 {
    font-size: 1.25em;
    margin-bottom: 5px;
}

.footer-navs {
    margin: 0 6em;
}

footer li {
    list-style: none;
}

input {
    height: 2.5em;
    border: none;
    border-radius: 5px;
}

form button {
    color: white;
    background-color: red;
    border: none;
    height: 2.5em;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 5px;
}

form button:hover {
    background-color: lightcoral;
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}